@page
@model BlogCRUDWeb.Pages.Category.AddModel
@{
}
<h1>Create a category for posts</h1>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Full name</label>
        <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Bio</label>
        <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Date of birth</label>
        <input type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>