@page
@model BlogCRUDWeb.Pages.Categories.AddModel
@{
}
<h1>
    Create a category for posts
</h1>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Category name</label>
        <input type="text" class="form-control" asp-for="AddCategoryRequest.Name"/>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>