@page "{id:Guid}"
@model BlogCRUDWeb.Pages.Authors.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}
<form method="post">
    <h1 class="mb-3">
        Edit Employee
    </h1>
    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }
    <div class="mb-3">

        <input type="hidden" class="form-control" asp-for="EditAuthorViewModel.Id" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Full name</label>
        <input type="text" class="form-control" asp-for="EditAuthorViewModel.FullName" />
    </div>
    <div class="mb-3">
        <label class="form-label">Bio</label>
        <input type="text" class="form-control" asp-for="EditAuthorViewModel.AboutMe" />
    </div>
    <div class="mb-3">
        <label class="form-label">Date of birth</label>
        <input type="date" class="form-control" asp-for="EditAuthorViewModel.DateOfBirth" readonly />
    </div>
    <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" asp-page-handler="Update">
            Update
        </button>
        <button type="submit" class="btn btn-danger" asp-page-handler="Delete">
            Delete
        </button>
    </div>
</form>